/* Global */

:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;
  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;
  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
  /* Size */
  --size-border-radius: 4px;
}

/* 기본 설정 */

body {
  margin: 0;
  cursor: default;
}

[src="./imgs/icon2.png"] {
  width: 50px;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}
h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}
h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}
p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Universal tags */

* {
  box-sizing: border-box;
}

/* arrow-up */
.arrow-up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  background-color: var(--color-pink);
  height: 50px;
  width: 50px;
  color: var(--color-white);
  border-radius: 50%;
  font-size: var(--font-medium);
  text-align: center;
  /* display: none; display none에는 적용되지 않는다.*/
  transition: all 0.35s;
  opacity: 0;
  pointer-events: none;
}

.arrow-up.visible {
  /* display: block; */
  opacity: 1;
  pointer-events: auto;
}

/* Navbar */

#navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: transparent;
  transition: all 0.35s;
}

.navbar__logo {
  font-size: var(--font-medium);
  color: var(--color-white);
}

.navbar__menu {
  display: flex;
  color: var(--color-white);
}

.navbar__menus {
  width: 100%;
}

.navbar__menu__item {
  margin: 5px;
  padding: 6px;
  border-radius: var(--size-border-radius);
  cursor: pointer;
  border: 1px solid transparent;
}

.navbar__menu__item:hover {
  border: 1px solid var(--color-white);
  background-color: var(--color-dark-pink);
}

/* navbar--dark 
transform color when*/

#navbar.navbar--dark {
  background-color: var(--color-pink);
  z-index: 100;
}

/* a에는 href로 경로가 있잖아? 근데 li에는 없잖아. 그 요소를 추가하는 방법을 모르네
onclick을 추가하고, 거기에 경로를 추가해주면 되는거지
일단 clicklistener를 ul에 주니까 list에 다 먹힌다. 공백에도 먹히지만
남은 문제는 어떻게 경로를 설정하냐
보통은 그냥 href="#아이디" 해주면 되는데
*/
#navbar.topage {
}

/* home */

#home {
  background: url(./imgs/YerinB2.jpg) top/cover no-repeat;
  text-align: center;
  padding-top: 100px;
}

.home__avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 30px;
  opacity: 0;
}

.home__description,
.home__title {
  color: var(--color-white);
}

.home__contact {
  color: var(--color-white);
  border: 1px solid var(--color-white);
  padding: 8px 12px;
  margin: 24px;
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
}

.home__contact:hover {
  background-color: var(--color-orange);
}

.section {
  text-align: center;
}

.contents-section {
  max-width: 1000px;
  padding: 30px;
  margin: auto;
}

.about__major {
  display: flex;
  justify-content: space-between;
  margin: 30px;
}

.major__icon {
  font-size: 70px;
  border-radius: 50%;
  height: 170px;
  width: 170px;
  line-height: 170px;
  border: 1px solid var(--color-blue);
  color: var(--color-blue);
  margin: auto;
}

.major__icon i {
  transition: all 300ms ease-in-out;
}

.major__icon:hover i {
  color: var(--color-pink);
  transform: rotate(-30deg) scale(1.2);
}

.major__description,
.major__title {
  color: var(--color-light-grey);
}

.about__jobs {
  display: flex;
  flex-direction: column;
}

.job {
  display: flex;
  margin: 5px;
  align-items: center;
}

.job__logo {
  margin: 0px 12px;
  border-radius: 50%;
}
.job__name,
.job__period {
  color: var(--color-light-grey);
  text-align: left;
}

/* Skills */

#sills {
  background-color: var(--color-yellow);
}

.skillset {
  display: flex;
  background-color: var(--color-light-grey);
  color: var(--color-white);
}

.skill {
  margin-bottom: 20px;
}
.skillset__title {
  color: var(--color-white);
}

.skillset__left {
  flex-basis: 60%;
  background-color: var(--color-dark-grey);
  padding: 0px 25px;
}

.skillset__right {
  flex-basis: 40%;
}

.skill__description {
  display: flex;
  justify-content: space-between;
}

.skill__bar {
  width: 100%;
  height: 4px;
  background-color: var(--color-light-grey);
}

.skill__value {
  background-color: var(--color-orange);
  height: 4px;
}

.tools {
  background-color: var(--color-grey);
  padding: 1px;
}

/* Work */

.work__categories {
  display: flex;
  justify-content: center;
}

.category__btn {
  border: 1px solid var(--color-light-grey);
  padding: 8px 24px;
  margin: 0px 1px;
  border-radius: 4px;
}

.category__btn.selected,
.category__btn:hover {
  background-color: var(--color-pink);
  color: var(--color-white);
}

.category__count {
  display: inline-block;
  background-color: var(--color-orange);
  border-radius: 50%;
  width: 15px;
  height: 15px;
  line-height: 15px;
  position: relative;
  top: -20px;
  opacity: 0;
  transition: all 300ms ease-in-out;
}

.category__btn.selected .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 0;
}

.work__projects {
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transition: all 350ms;
}

.work__projects.anim-out {
  opacity: 0;
  transform: scale(0.96) translateY(40px);
}

.project {
  margin: 2px;
  position: relative;
  width: 280px;
  height: 250px;
  display: block;
}

.project.invisible {
  display: none;
}

.project img {
  max-width: 100%;
  height: 100%;
  background-color: var(--color-pink);
}

.project__decription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-black);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 300ms ease-in-out;
}

.project__decription:hover {
  opacity: 0.8;
}

.project__decription h3 {
  color: var(--color-white);
}

/* Testimonials */

#testimonials {
  background-color: var(--color-dark-white);
}

.testimonials {
  margin: 40px 0px;
}

.testimonual__avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.testimonual__avatar:nth-child(odd) {
  margin-right: 30px;
}

.testimonual__avatar:nth-child(even) {
  margin-left: 30px;
}

.testimonial {
  display: flex;
  align-items: center;
  margin: 40px 0px;
}

.testimonial__speech-bubble {
  background-color: var(--color-white);
  border-radius: 4px;
  padding: 18px;
}

.testimonial__speech-bubble p {
  color: var(--color-light-grey);
  text-align: center;
}

.name a {
  color: var(--color-pink);
  padding: 0px 5px;
}

/* Contact */

#contact {
  background-color: var(--color-pink);
}

.contact__email,
.contact__links,
.contact__title,
.contact__rights {
  color: var(--color-white);
  margin: 20px;
}

.contact__links {
  font-size: var(--font-medium);
  transition: all 300ms ease-in-out;
}

.contact__links i {
  margin: 0px 2px;
}

.contact__links i:hover {
  color: var(--color-yellow);
  transform: scale(1.2);
}

.navbar__toggle {
  font-size: var(--font-medium);
  color: var(--color-white);
  position: absolute;
  top: 14px;
  right: 18px;
  display: none;
}

/* For below 768px screen width */

@media screen and (max-width: 768px) {
  :root {
    /* Font size */
    --font-large: 30px;
    --font-medium: 18px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-micro: 12px;
  }

  .navbar__toggle {
    display: block;
    top: 10px;
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
    user-select: none;
    justify-content: center;
    background-color: var(--color-pink);
    z-index: 100;
  }

  .navbar__menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    display: none;
  }

  .navbar__menu.open {
    display: block;
  }

  .navbar__menu__item {
    margin: auto;
  }

  .navbar__menu.open > .navbar__menu {
    display: block;
    /* 엘리님 짱짱❤️ */
  }

  .navbar__menu__item {
    width: 100%;
    text-align: center;
  }

  /* home */

  .homes > {
    transition: all 350ms ease-in-out;
  }

  .home__avatar {
    display: none;
  }

  .home__title {
    margin: 0;
    opacity: 0.8;
  }

  .home__description {
    opacity: 0.8;
  }

  .about__major {
    flex-direction: column;
  }

  .major {
    margin-bottom: 30px;
  }

  .skillset {
    flex-direction: column;
  }

  .project {
  }

  .contents-section {
    padding: 15px;
    padding-top: 22px;
  }

  .arrow-up {
    bottom: 20px;
    right: 30px;
  }
  .arrow-up.visible {
    opacity: 0.6;
  }

  .testimonial {
    flex-direction: column;
  }

  .testimonial:nth-child(even) {
    flex-direction: column-reverse;
  }

  .testimonual__avatar:nth-child(odd),
  .testimonual__avatar:nth-child(even) {
    margin: 0;
    margin-bottom: 10px;
  }

  /* .testimonual__speecg-bubble {
      order:1} */

  #navbar.navbar--dark {
  }
}
